.app_dark_theme {
    --bg-color: #010140;
    --inverted-bg-color: #8181ef;
    --primary-color: #006800;
    --secondary-color: #4ef64e;
    --inverted-primary-color: #020f4c;
    --inverted-secondary-color: #4267f6;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
}
