.app_green_theme {
    --bg-color: #1d8473;
    --inverted-bg-color: #f4fbfa;
    --primary-color: #f4fbfa;
    --secondary-color: #16642a;
    --inverted-primary-color: #16642a;
    --inverted-secondary-color: #f4fbfa;

    // skeleton
    --skeleton-color: #1d8473;
    --skeleton-shadow: #27aa94;
}
