.app_light_theme {
    --bg-color: #8181ef;
    --inverted-bg-color: #010140;
    --primary-color: #020f4c;
    --secondary-color: #0830cf;
    --inverted-primary-color: #029302;
    --inverted-secondary-color: #4ef64e;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);
    --code-bg: #82c6da;

    // card
    --card-bg: #d5d5d7;
}
