.app.light {
    --bg-color: #8181ef;
    --inverted-bg-color: #010140;
    --primary-color: #020f4c;
    --secondary-color: #0830cf;
    --inverted-primary-color: #029302;
    --inverted-secondary-color: #4ef64e;
}
